/* You can add global styles to this file, and also import other style files */

.body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.section-header a {
  color: white;
  /* text-decoration: none; */
}

.logo {
  width: 80px;
  height: 80px;
}

.image {
  width: 300px;
  height: 300px;
}

.image_service {
  width: 250px;
  height: 250px;
}

.bck-primary {
  background-color: #3c1557;
  color: white;
}

a.bck-primary:hover, button.bck-primary:hover, input.bck-primary:hover {
  background-color: #5d2782;
  color: white;
}

.bck-secondary {
  background-color: #5d2782;
  color: white;
}

a.bck-secondary:hover, button.bck-secondary:hover, input.bck-secondary:hover {
  background-color: #3c1557;
  color: white;
}

.bck-blue {
  background-color: #61B4F8;
}

.bck-grey {
  background-color: #f3f3f3;
}

.bck-dgrey {
  background-color: #d9d9d9;
}

.color-primary {
  color: #3c1557;
}

.color-secondary {
  color: #5d2782;
}

.image-entreprise {
  width: 350px;
  height: 300px;
}

.selected-menu {
  color: #3c1557;
}

footer {
  margin-top: auto;
}

.logo {
  height: 30px;
  width: 30px;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.service {
  padding: 50px 300px;
}

.pointer {
  cursor: pointer;
}

.ico {
  height: 20px;
  width: 20px;
}

p {
  line-height: 40px;
}

.img-thumb {
  height: 60px;
  width: 100px;
}

.img-prod {
  height: 250px;
}

