/* You can add global styles to this file, and also import other style files */
.body {
  min-height: 100vh;
}

.bck-primary {
  background-color: #3c1557;
}

.txt-primary {
  color: #3c1557;
}

.logo {
  height: 30px;
  width: 30px;
}