<div class="container-fluid">
  <div class="row">
    <div class="col-6 body" style="background-image: url('assets/images/logo.png');background-size:cover;background-repeat: no-repeat;"></div>
    <div class="col-4 offset-1 d-flex align-items-center">
      <form (submit)="login()">
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <h1><strong>Bienvenue chez Decor Prefa</strong></h1>
            <br><br><br><br><br>
          </div>
          <div class="col-12 d-flex justify-content-center mb-5">
            <h1 class="color-primary"><strong>Connexion</strong></h1>
          </div>
          <div class="col-10 offset-1 mb-4">
            <input type="email" class="form-control" name="email" [(ngModel)]="credential.email" placeholder="Email">
          </div>
          <div class="col-10 offset-1 mb-4">
            <input type="password" class="form-control" name="password" [(ngModel)]="credential.password" placeholder="Mot de passe">
          </div>
          <div class="col-10 offset-1 mb-3 d-flex justify-content-end">
            <span class="color-primary">Pas de compte ? <a class="color-primary" routerLink="/register"><strong>Créez un compte</strong></a></span>
          </div>
          <div class="col-10 offset-1 mb-3">
            <input type="submit" class="btn bck-secondary btn-block" value="Connexion">
          </div>
          <div class="col-10 offset-1">
            <img src="assets/images/left_arrow.png" alt="Back to home" class="ico mr-3">
            <a class="color-primary" routerLink="/home">Retour à l'accueil</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ngx-loading
    [show]="loading"
    [config]="config"
  >
</ngx-loading>
