<div class="container-fluid px-5 py-4 bck-primary text-white">
  <div class="row">
    <div class="col-3 d-flex align-items-center">
      <h2><strong>Decor Prefa</strong></h2>
    </div>
    <div class="col-3">
      <h5 class="mb-4"><strong>A propos</strong></h5>
      <p><a routerLink="/services" class="text-white">Nos services</a></p>
      <p><a routerLink="/products" class="text-white">Nos produits</a></p>
    </div>
    <div class="col-3">
      <h5 class="mb-4"><strong>Contact</strong></h5>
      <p>
        <img src="assets/images/email.png" class="logo mr-1" alt="Email"><span>decorprefa5@gmail.com</span>
      </p>
      <p>
        <img src="assets/images/whatsapp.png" class="logo mr-1" alt="Whatsapp"><span>+237 6 56 40 35 67</span>
      </p>
      <p>
        <img src="assets/images/location.png" class="logo mr-1" alt="Localisation"><span>Bocom deuxième entrée cogéfare</span>
      </p>
      <p>
        <img src="assets/images/phone.png" class="logo mr-1" alt="Téléphone"><span>+237 6 78 12 36 99</span>
      </p>
    </div>
    <div class="col-3">
      <h5 class="mb-4"><strong>Réseaux sociaux</strong></h5>
      <p>
        <a href="https://www.facebook.com/profile.php?id=100095793360230" target="_blank" class="mr-2">
          <img src="assets/images/facebook.png" alt="Facebook" class="logo">
        </a>
        <a href="https://www.instagram.com/decorprefainternational/" target="_blank" class="mr-2"><img src="assets/images/instagram.png" alt="Instagram" class="logo"></a>
        <a href="#" target="_blank" class="mr-2"><img src="assets/images/x.png" alt="X" class="logo"></a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-end">
      <p>Copyright © {{now}} Tous droits réservés</p>
    </div>
  </div>
</div>
