<div class="body">
  <app-header [isBig]="false"></app-header>
  
  <div class="container-fluid bg-grey py-5 body">
    <div class="container">
      <h3 class="mb-4 color-primary"><strong>Blog</strong></h3><br>
      <div class="row mb-5" *ngIf="role === 'admin'">
        <div class="col-10">
          <input type="text" (keyup)="research($event)" class="form-control" placeholder="Rechercher">
        </div>
        <div class="col-2">
          <button class="btn btn-success btn-block" *ngIf="role === 'admin'" routerLink="/blog/form">Ajouter</button>
        </div>
      </div>
      
      <!-- Products list -->
      <div class="row" *ngIf="role !== 'admin'">
        <div class="col-4" *ngFor="let art of articles">
          <div class="card mb-5 shadow">
            <img class="card-img-top img-prod" [src]="art.picture" *ngIf="art.picture" alt="Card image cap">
            <img class="card-img-top img-prod" src="assets/images/logo.png" *ngIf="!art.picture" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title cat">{{ art.title }}</h5>
              <p class="card-text text">{{ art.content }}</p>
              <p class="card-text text">{{ art.updatedAt | date: "dd/MM/YYYY à HH:mm" }}</p>
              <!-- <div class="d-flex justify-content-between mb-3">
                <a class="btn btn-success" (click)="addToCart(p)">Ajouter au panier</a>
                <strong> {{p.price}} FCFA</strong>
              </div> -->
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="role === 'admin'">
        <div class="col-12">
          <div class="row mb-4">
            <div class="col-2"><strong>Image</strong></div>
            <div class="col-2"><strong>Title</strong></div>
            <div class="col-3"><strong>Contenu</strong></div>
            <div class="col-2"><strong>Date publication</strong></div>
            <div class="col-3"><strong>Actions</strong></div>
          </div>

          <div *ngIf="articles.length > 0">
            <div class="row border shadow-sm mb-3 py-3 rounded-lg" *ngFor="let art of articles">
              <div class="col-2 d-flex align-items-center">
                <img class="card-img-top img-thumb" [src]="art.picture" *ngIf="art.picture" alt="Card image cap">
                <img class="card-img-top img-thumb" src="" *ngIf="!art.picture" alt="Card image cap">
              </div>
              <div class="col-2 d-flex align-items-center">{{ art.title }}</div>
              <div class="col-3 d-flex align-items-center">{{ art.content }}</div>
              <div class="col-2 d-flex align-items-center">{{ art.updatedAt | date: "dd/MM/YYYY à HH:mm" }}</div>
              <div class="col-3 d-flex align-items-center">
                <button class="btn btn-info mr-3" (click)="selectArticle(art)">
                  <img src="assets/images/detail.png" alt="detail" class="ico">
                </button>
                <a [routerLink]="['/blog/form', art._id]" class="btn btn-warning mr-3">
                  <img src="assets/images/edit.png" alt="update" class="ico">
                </a>
                <button type="button" class="btn btn-danger" (click)="deleteArticle(art._id)">
                  <img src="assets/images/delete.png" alt="delete" class="ico">
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>

      <br><br><br>

      <!-- Details produit -->
      <div *ngIf="selectedArticle">
        <h3 class="mb-4 color-primary"><strong>Détails Article</strong></h3>
        <div class="row">
          <div class="col-5 mb-3">
            <h6>Image</h6>
            <img class="img-prod" src="{{ selectedArticle.picture }}" alt="Product image">
          </div>
          <div class="col-7">
            <div class="row">
              <div class="col-12 mb-3">
                <span>Titre</span>
                <h5>{{ selectedArticle.title }}</h5>
              </div>
              <div class="col-12 mb-3">
                <span>Contenu</span>
                <h5>{{ selectedArticle.content }}</h5>
              </div>
              <div class="col-12">
                <span>Date publication</span>
                <h5>{{ selectedArticle.updatedAt | date: "dd/MM/YYYY à HH:mm" }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
<app-footer></app-footer>