<div class="body">
  <app-header [title]="title" [content]="content"></app-header>
  <div class="container-fluid">
    <div class="row py-5 px-5">
      <div class="col-12 d-flex justify-content-center mb-5">
        <h1 class="color-primary">Nos services</h1>
      </div>
      <div class="col-4">
        <img src="assets/products/cadre_dp2.png" alt="" class="image rounded-circle">
        <h3>Préfabrication</h3>
      </div>
      <div class="col-4 d-flex justify-content-center">
        <img src="assets/products/cadre_dp9.png" alt="" class="image rounded-circle">
        <h3>Montage</h3>
      </div>
      <div class="col-4 d-flex justify-content-center">
        <img src="assets/products/cadre_dp12.png" alt="" class="image rounded-circle">
        <h3>Construction</h3>
      </div>
    </div>
    <div class="row py-5 px-5 bck-blue">
      <div class="col-12 d-flex justify-content-center mb-5">
        <h1 class="color-primary">Nos produits</h1>
      </div>
    </div>
    <div class="row py-5 px-5 bck-grey">
      <div class="col-12 d-flex justify-content-center mb-5">
        <h1 class="color-primary">Nous contacter</h1>
      </div>
      <div class="col-10 offset-1">
        <div class="d-flex rounded-lg">
          <div class="px-5 bck-secondary text-white">
            <h4>Localisation</h4>
            <p>Notre entreprise est située au Cameroun  à Douala et en Guinée Equatoriale à Malabo.</p>
            <p>Contactez-nous dès maintenant et vous pourrez passer dans nos locaux ou vous faire livrer partout au Cameroun et en Guinée.</p>
            <h4>Nos contacts (appels et WhatsApp)</h4>
            <p>+237 678 75 71 78</p>
            <p>+237 698 79 32 22</p>
            <p>+240 222 60 59 39</p>
          </div>
          <div class="px-5">
            <form>
              <div class="row">
                <div class="col-12 mb-2">
                  <input type="text" class="form-control" placeholder="Nom complet">
                </div>
                <div class="col-12 mb-2">
                  <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="col-12 mb-2">
                  <input type="text" class="form-control" placeholder="Téléphone">
                </div>
                <div class="col-12 mb-2">
                  <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Message..."></textarea>
                </div>
                <div class="col-12 d-flex justify-content-end">
                  <input type="submit" class="btn btn-succes" value="Envoyer">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>