<div class="body">
  <app-header [title]="title" [content]="content"></app-header>
  <div class="container-fluid">
    <br>
    <div class="row py-5 px-5">
      <div class="col-12 d-flex justify-content-center mb-5">
        <h1 class="color-primary">Nos services</h1>
      </div>
      <div class="col-10 offset-1">
        <div class="row">
          <div class="col-4">
            <div class="d-flex justify-content-center mb-3">
              <img src="assets/products/cadre_dp2.png" alt="" class="image rounded-circle">
            </div>
            <div class="d-flex justify-content-center">
              <h3 class="color-primary">Préfabrication</h3>
            </div>
          </div>
          <div class="col-4">
            <div class="d-flex justify-content-center mb-4">
              <img src="assets/products/cadre_dp9.png" alt="" class="image rounded-circle">
            </div>
            <div class="d-flex justify-content-center mb-4">
              <h3 class="color-primary">Montage</h3>
            </div>
          </div>
          <div class="col-4">
            <div class="d-flex justify-content-center mb-4">
              <img src="assets/products/cadre_dp12.png" alt="" class="image rounded-circle">
            </div>
            <div class="d-flex justify-content-center mb-3">
              <h3 class="color-primary">Construction</h3>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-end">
            <h4>
              <a class="color-primary" routerLink="/services">Voir plus...</a>
            </h4>
          </div>
        </div>
      </div>
    </div><br>
    <div class="row py-5 px-5 bck-blue">
      <div class="col-12 d-flex justify-content-center mb-5">
        <h1 class="color-primary">Nos produits</h1>
      </div>
      <div class="col-10 offset-1">
        <div class="row">
          <div class="col-4">
            <div class="d-flex justify-content-center mb-3 rounded-lg">
              <img src="assets/products/cadre_dp2.png" alt="" class="image rounded-lg">
            </div>
            <!-- <div class="d-flex justify-content-center">
              <h3 class="color-primary">Préfabrication</h3>
            </div> -->
          </div>
          <div class="col-4">
            <div class="d-flex justify-content-center mb-4 rounded-lg">
              <img src="assets/products/cadre_dp9.png" alt="" class="image rounded-lg">
            </div>
            <!-- <div class="d-flex justify-content-center mb-4">
              <h3 class="color-primary">Montage</h3>
            </div> -->
          </div>
          <div class="col-4">
            <div class="d-flex justify-content-center mb-4 rounded-lg">
              <img src="assets/products/cadre_dp12.png" alt="" class="image rounded-lg">
            </div>
            <!-- <div class="d-flex justify-content-center mb-3">
              <h3 class="color-primary">Construction</h3>
            </div> -->
          </div>
          <div class="col-12 d-flex justify-content-end">
            <h4>
              <a class="color-primary" routerLink="/products">Voir plus...</a>
            </h4>
          </div>
        </div><br>
      </div>
    </div><br>
    <div class="row py-5 px-5" id="contact">
      <div class="col-12 d-flex justify-content-center mb-5">
        <h1 class="color-primary">Nous contacter</h1>
      </div>
      <div class="col-10 rounded-lg offset-1">
        <div class="d-flex justify-content-center rounded-lg">
          <div class="p-5 bck-secondary text-white rounded-lg">
            <h4>Localisation</h4>
            <p>Notre entreprise est située au Cameroun  à Douala et en Guinée Equatoriale à Malabo.</p>
            <p>Contactez-nous dès maintenant et vous pourrez passer dans nos locaux ou vous faire livrer partout au Cameroun et en Guinée.</p>
            <br>
            <h4>Nos contacts (appels et WhatsApp)</h4>
            <p>+237 678 75 71 78</p>
            <p>+237 698 79 32 22</p>
            <p>+240 222 60 59 39</p>
          </div>
          <div class="p-5 bck-dgrey rounded-lg">
            <form>
              <div class="row">
                <div class="col-12 mb-3">
                  <input type="text" class="form-control" placeholder="Nom complet">
                </div>
                <div class="col-12 mb-3">
                  <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="col-12 mb-3">
                  <input type="text" class="form-control" placeholder="Téléphone">
                </div>
                <div class="col-12 mb-3">
                  <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Message..."></textarea>
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col-3 offset-9">
                      <input type="submit" class="btn bck-secondary btn-block" value="Envoyer">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
<app-footer></app-footer>