<div class="body">
  <app-header [isBig]="false"></app-header>
  
  <div class="container-fluid bg-grey py-5 body">
    <div class="container">
      <h3 class="mb-4 color-primary"><strong>Nos produits</strong></h3><br>
      <div class="row mb-5">
        <div class="col-5">
          <input type="text" (keyup)="research($event)" class="form-control" placeholder="Rechercher">
        </div>
        <div class="col-5">
          <select name="category" id="category" class="form-control" [(ngModel)]="selectedCatId" (change)="filterCat()" required>
            <option value="{{cat._id}}" *ngFor="let cat of categories">{{ cat.label }}</option>
          </select>
        </div>
        <div class="col-2">
          <button class="btn btn-success btn-block" *ngIf="role === 'admin'" routerLink="/products/form">Ajouter</button>
        </div>
      </div>
      
      <!-- Products list -->
      <div class="row" *ngIf="role !== 'admin'">
        <div class="col-4" *ngFor="let p of products | paginate: { itemsPerPage: 9, currentPage: p }">
          <div class="card mb-5 shadow">
            <img class="card-img-top img-prod" src="{{ p.picture }}" *ngIf="p.picture" alt="Card image cap">
            <img class="card-img-top img-prod" src="assets/images/logo.png" *ngIf="!p.picture" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title cat">{{p.title}} ({{p.category.label}})</h5>
              <p class="card-text text">{{p.description}}</p>
              <p><strong>{{p.price}} FCFA</strong></p>
              <div class="d-flex justify-content-between mb-3">
                <a class="btn btn-success" (click)="addToCart(p)">Ajouter au panier</a>
                <button class="btn btn-info mr-3" (click)="selectProd(p)">
                  <img src="assets/images/detail.png" alt="detail" class="ico">
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="role === 'admin'">
        <div class="col-12">
          <div class="row mb-4">
            <div class="col-2"><strong>Image</strong></div>
            <div class="col-2"><strong>Catégorie</strong></div>
            <div class="col-2"><strong>Titre</strong></div>
            <!-- <div class="col-2"><strong>Description</strong></div> -->
            <div class="col-2"><strong>Prix unitaire</strong></div>
            <div class="col-1"><strong>Stock</strong></div>
            <div class="col-3"><strong>Actions</strong></div>
          </div>

          <div *ngIf="products.length > 0">
            <div class="row border shadow-sm mb-3 py-3 rounded-lg" *ngFor="let p of products | paginate: { itemsPerPage: 9, currentPage: p }">
              <div class="col-2 d-flex align-items-center">
                <img class="img-thumb" [src]="p.picture" *ngIf="p.picture" alt="Product image">
                <img src="" *ngIf="!p.picture" alt="Product image">
              </div>
              <div class="col-2 d-flex align-items-center">{{ p.category.label }}</div>
              <div class="col-2 d-flex align-items-center">{{ p.title }}</div>
              <!-- <div class="col-2 d-flex align-items-center text">{{ p.description }}</div> -->
              <div class="col-2 d-flex align-items-center">{{ p.price }} FCFA</div>
              <div class="col-1 d-flex align-items-center">{{ p.quantity }}</div>
              <div class="col-3 d-flex align-items-center">
                <button class="btn btn-info mr-3" (click)="selectProd(p)">
                  <img src="assets/images/detail.png" alt="detail" class="ico">
                </button>
                <a [routerLink]="['/products/form', p._id]" class="btn btn-warning mr-3">
                  <img src="assets/images/edit.png" alt="update" class="ico">
                </a>
                <button type="button" class="btn btn-danger" (click)="deleteProduct(p._id)">
                  <img src="assets/images/delete.png" alt="delete" class="ico">
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>

      <br><br><br>

      <!-- Details produit -->
      <div *ngIf="selectedProd">
        <h3 class="mb-4 color-primary"><strong>Détails produit</strong></h3>
        <div class="row">
          <div class="col-5 mb-3">
            <h6>Image</h6>
            <img class="img-prod" src="{{ selectedProd.picture }}" alt="Product image">
          </div>
          <div class="col-7">
            <div class="row">
              <div class="col-4 mb-3">
                <span>Catégorie</span>
                <h5>{{ selectedProd.category.label }}</h5>
              </div>
              <div class="col-4 mb-3">
                <span>Titre</span>
                <h5>{{ selectedProd.title }}</h5>
              </div>
              <div class="col-4 mb-3">
                <span>Prix unitaire</span>
                <h5>{{ selectedProd.price }} FCFA</h5>
              </div>
              <div class="col-4 mb-3">
                <span>Quantité stock</span>
                <h5>{{ selectedProd.quantity }}</h5>
              </div>
              <div class="col-12">
                <span>Description</span>
                <p>{{ selectedProd.description }}</p>
              </div>
              <!-- <div class="col-4 mb-4"></div> -->
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
<app-footer></app-footer>