<div class="body">
  <app-header [isBig]="false"></app-header>
  
  <div class="container-fluid bg-grey py-5 body">
    <div class="container">
      <h3 class="mb-4 color-primary"><strong>Commandes clients</strong></h3><br>
      <div class="row mb-5">
        <div class="col-12">
          <input type="text" class="form-control" placeholder="Rechercher">
        </div>
        <!-- <div class="col-5">
          <select name="category" id="category" class="form-control" [(ngModel)]="selectedCatId" required>
            <option value="{{cat._id}}" *ngFor="let cat of categories">{{ cat.label }}</option>
          </select>
        </div> -->
        <!-- <div class="col-2">
          <button class="btn btn-success btn-block" *ngIf="role === 'admin'" routerLink="/products/form">Ajouter</button>
        </div> -->
      </div>
      
      <!-- Products list -->
      <div class="row mb-3">
        <div class="col-4"><strong>Référence commande</strong></div>
        <div class="col-4"><strong>Date de commande</strong></div>
        <div class="col-4"><strong>Actions</strong></div>
      </div>

      <div class="row border shadow-sm mb-3 py-3 rounded-lg" *ngFor="let order of orders">
        <div class="col-4 d-flex align-items-center">{{ order.reference }}</div>
        <div class="col-4 d-flex align-items-center">{{ order.createdAt | date: "dd/MM/YYYY à HH:mm" }}</div>
        <div class="col-4 d-flex align-items-center">
          <button type="button" class="btn btn-info mr-2">
            <img src="assets/images/detail.png" alt="detail" class="ico">
          </button>
          <button type="button" class="btn btn-warning mr-2">
            <img src="assets/images/edit.png" alt="edit" class="ico">
          </button>
          <button type="button" class="btn btn-danger" (click)="deleteOrder()">
            <img src="assets/images/delete.png" alt="delete" class="ico">
          </button>
        </div>
        <!-- <div class="col-4">
          <div class="card mb-5 shadow">
            <img class="card-img-top" src="assets/images/logo.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{p.title}}</h5>
              <p class="card-text">{{p.description}}</p>
              <div class="d-flex justify-content-between mb-3">
                <a class="btn btn-success" (click)="addToCart(p)">Ajouter au panier</a>
                <strong> {{p.price}} FCFA</strong>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>