<div class="body">
  <app-header [title]="title" [content]="content"></app-header>
  <div class="container-fluid my-5">
    <div class="row mb-5 service d-flex align-items-center">
      <div class="col-6">
        <img src="assets/products/cadre_dp2.png" alt="Produit" class="image rounded-circle">
      </div>
      <div class="col-6">
        <h2 class="mb-3">Préfabrication</h2>
        <p>Commandez vos poteaux décorés, balustres et burses chez décor Prefa international. <br>
          Chez nous, l'élégance est combiné à la solidité pour apporter une touche de distinction  à chaque espace de votre maison (jardin, terrasse, escalier, etc...)</p>
      </div>
    </div>

    <div class="row mb-5 service bck-grey d-flex align-items-center">
      <div class="col-6">
        <h2 class="mb-3">Montage</h2>
        <p>Le montage des matériaux de construction n’est plus un secret pour Decor Prefa !!! alors faites nous confiance et nous serons ravis de vous accompagner dans vos idées.</p>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <img src="assets/products/cadre_dp9.png" alt="Produit" class="image rounded-circle">
      </div>
    </div>

    <div class="row mb-5 service d-flex align-items-center">
      <div class="col-6">
        <img src="assets/products/cadre_dp12.png" alt="Produit" class="image rounded-circle">
      </div>
      <div class="col-6">
        <h2 class="mb-3">Construction</h2>
        <p>Pour tous vos besoins de pots de fleurs, jets d'eau, bordures de jardin, burses, bancs publics, cunettes et autres contactez-nous dès maintenant !</p>
      </div>
    </div>

    <div class="row mb-5 service bck-grey d-flex align-items-center">
      <div class="col-6">
        <h2 class="mb-3">Décorer</h2>
        <p>Vous avez besoin de vêtir ou de revêtir votre cours avec des pavés solides aux designs modernes ? Vous recherchez des bordures et briquettes de qualité supérieure qui respectent les normes de construction ? Vous êtes à la bonne porte !</p>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <img src="assets/products/cadre_dp58.png" alt="Produit" class="image rounded-circle">
      </div>
    </div>

    <div class="row service d-flex align-items-center">
      <div class="col-6">
        <img src="assets/products/cadre_dp2.png" alt="Produit" class="image rounded-circle">
      </div>
      <div class="col-6">
        <h2 class="mb-3">Réfectioner</h2>
        <p>Votre maison réclame un gout de neuf ? pas de panique !!! Decor Prefa se charge de rénover votre domicile avec des matériaux de qualité, garantissant ainsi une satisfaction complète en vous permettant d’apprécier de nouveau votre maison.</p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>