<div class="body">
  <app-header [title]="title" [content]="content"></app-header>
  <div class="container-fluid my-5">
    <div class="row mb-5 service d-flex align-items-center">
      <div class="col-6">
        <img src="assets/products/cadre_dp2.png" alt="Produit" class="image rounded-circle">
      </div>
      <div class="col-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla commodo, ante a sagittis euismod, felis nisi imperdiet urna, sed tincidunt dolor neque non turpis. Nullam efficitur libero id arcu auctor, eu lacinia lectus euismod. In hendreri...</p>
      </div>
    </div>

    <div class="row mb-5 service bck-grey d-flex align-items-center">
      <div class="col-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla commodo, ante a sagittis euismod, felis nisi imperdiet urna, sed tincidunt dolor neque non turpis. Nullam efficitur libero id arcu auctor, eu lacinia lectus euismod. In hendreri...</p>
      </div>
      <div class="col-6">
        <img src="assets/products/cadre_dp9.png" alt="Produit" class="image rounded-circle">
      </div>
    </div>

    <div class="row mb-5 service d-flex align-items-center">
      <div class="col-6">
        <img src="assets/products/cadre_dp12.png" alt="Produit" class="image rounded-circle">
      </div>
      <div class="col-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla commodo, ante a sagittis euismod, felis nisi imperdiet urna, sed tincidunt dolor neque non turpis. Nullam efficitur libero id arcu auctor, eu lacinia lectus euismod. In hendreri...</p>
      </div>
    </div>

    <div class="row mb-5 service bck-grey d-flex align-items-center">
      <div class="col-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla commodo, ante a sagittis euismod, felis nisi imperdiet urna, sed tincidunt dolor neque non turpis. Nullam efficitur libero id arcu auctor, eu lacinia lectus euismod. In hendreri...</p>
      </div>
      <div class="col-6">
        <img src="assets/products/cadre_dp58.png" alt="Produit" class="image rounded-circle">
      </div>
    </div>

    <div class="row service d-flex align-items-center">
      <div class="col-6">
        <img src="assets/products/cadre_dp2.png" alt="Produit" class="image rounded-circle">
      </div>
      <div class="col-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla commodo, ante a sagittis euismod, felis nisi imperdiet urna, sed tincidunt dolor neque non turpis. Nullam efficitur libero id arcu auctor, eu lacinia lectus euismod. In hendreri...</p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>