<div class="container-fluid">
  <div class="row">
    <div class="col-6 body" style="background-image: url('assets/images/logo.png');background-size:cover;background-repeat: no-repeat;"></div>
    <div class="col-4 offset-1 d-flex align-items-center">
      <form>
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <h1><strong>Bienvenue chez Decor Prefa</strong></h1>
            <br><br><br><br><br>
          </div>
          <div class="col-12 d-flex justify-content-center mb-5">
            <h2 class="color-primary"><strong>Créer compte</strong></h2>
          </div>
          <div class="col-10 offset-1 mb-4">
            <input type="email" class="form-control" placeholder="Email">
          </div>
          <div class="col-10 offset-1 mb-4">
            <input type="password" class="form-control" placeholder="Mot de passe">
          </div>
          <div class="col-10 offset-1 mb-4">
            <input type="password" class="form-control" placeholder="Confirmation mot de passe">
          </div>
          <div class="col-10 offset-1 mb-3 d-flex justify-content-end">
            <span class="color-primary">Vous avez déjà un compte ? &nbsp;</span>
            <a class="color-primary" routerLink="/login"><strong>Connectez-vous</strong></a>
          </div>
          <div class="col-10 offset-1 mb-3">
            <input type="submit" class="btn bck-secondary btn-block" value="Créer compte">
          </div>
          <div class="col-10 offset-1">
            <img src="assets/images/left_arrow.png" alt="Back to home" class="ico mr-3">
            <a class="color-primary" routerLink="/home">Retour à l'accueil</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
